/* Color variables */
:root {
  --white: #f8f1f1;
  --sea-blue: #11698e;
  --marine-blue: #19456b;
  --green: #16c79a;
}

/* General styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0px auto;
  text-align: center;
}
button {
  min-width: 44px;
  min-height: 44px;
}
a {
  min-width: 44px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
audio {
  width: 110px;
  border-radius: 10px;
  background-color: var(--white);
  margin-top: 14px;
  position: relative;
  left: -7px;
}

/* Home styles */
.header__title {
  padding: 20px;
  font-size: 28px;
}
.searchBar {
  border: 1px solid black;
  padding: 20px;
}
.country,
.explicit,
.limit {
  display: flex;
  justify-content: center;
}
.main-content {
  font-size: 22px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
}
.fav {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 20px;
}

/* Post styles */
.post-item {
  border-radius: 10px;
  width: 125px;
  height: 240px;
  margin: 5px 5px;
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  position: relative;
}
.post-item__img {
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin: 12px 0 5px 0;
  border-radius: 10px;
}
.post-item__vid {
  width: 100px;
  height: 100px;
  margin: 12px 0 5px 0;
  border-radius: 10px;
}
.post-item__principal-data {
  text-align: left;
  width: 100px;
}
.post-item__name {
  color: var(--marine-blue);
  margin: 3px 0;
  font-size: 1.1em;
  font-weight: bold;
  overflow-wrap: break-word;
  max-height: 20px;
  overflow: scroll;
}
.post-item__artist {
  margin: 3px 0;
  color: var(--sea-blue);
  max-height: 20px;
  overflow: scroll;
}
.post-item__overflow-data {
  overflow: scroll;
  max-height: 30px;
  margin-top: 5px;
}
.post-item__album {
  margin: 5px 0;
}
.post-item__price {
  margin: 5px 0;
}
.bx {
  border: none;
  background-color: transparent;
  font-size: 2em;
}
.bxs-music {
  color: var(--sea-blue);
}
.post-item__icons {
  width: 100px;
  position: absolute;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-item__back {
  display: none;
  transform: rotateY(180deg);
  width: 100px;
}
.post-item__genre,
.post-item__length,
.post-item__release,
.post-item__songs-number {
  text-align: left;
  margin: 5px 0;
}
.post-item__play {
  font-size: 3em;
}
.post-item__back-album {
  display: none;
  position: relative;
  transform: rotateY(180deg);
}

/* Media querys styles */
