/* General styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0px auto;
  text-align: center;
}
button {
  min-width: 44px;
  min-height: 44px;
}
a{
  min-width: 44px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Home styles */
.header__title {
  padding: 20px;
  font-size: 28px;
}
.searchBar {
  border: 1px solid black;
  padding: 20px;
}
.country,
.explicit,
.limit {
  display: flex;
  justify-content: center;
}
.main-content {
  font-size: 22px;
}
.content {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}
.fav {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 20px;
}

/* Post styles */
.post-item {
  border: 1px solid black;
  border-radius: 10px;
  width: 95%;
  height: 120px;
  margin: 5px 0;
  font-size: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-item__img {
  background-repeat: no-repeat;
  height: 100px;
  width: auto;
  margin-left: 5px;
}
.post-item__play {
  border: none;
  background-color: transparent;
  font-size: 2em;
}
.post-item__icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-3{
  width: 25%;
}
.col-6{
  width: 50%;
}
/* Media querys styles */
